@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');


.body{
    padding: 0;
    margin: 0 5rem 0 5rem;
    min-height: 100vh;
    max-width: 1400px;
}

/* VARIABLES */
:root{
    --BUTTON-BGCOLOR:#FFF;
    --HIGHLIGHT-COLOR: orange;
    --COLOR: BLACK;
    --MARGIN-TOP: 2em;
    --BACKGROUNDCOLOR: rgb(233, 222, 245);
    --TEXT-ALIGN: justify;
}

/* || HEADER */
.header{
    display: flex;    
    gap: 8rem;
}

.header__nav{
    text-decoration: none;
    display: flex;
}

.header__ul{
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.header__li{
    text-decoration: none;
}
.nav_ul_li_a{
    text-decoration: none;
    margin-right: 2em;
    line-height: 4em;
    color: var(--COLOR);    
}

button,
input,
img{
    font: inherit;
}

.button__valide{
    padding: 0.6em;
    border-radius: 25px;
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-BGCOLOR);
    width: 8em;
    font-size: 18px;
    border: none;
}

.button__valide:hover{
   background-color: rgb(255, 182, 56);
}

.div__button-valide{
    margin-top: var(--MARGIN-TOP);
}

#section_2, #section_3, #section_7,#section__9{
    margin-top: var(--MARGIN-TOP);
}
.img__section-2{
    max-width: 400px;
}

#section_2 .container{
    display: flex;
    gap: 5rem;  
}      

.section_2-h2{
    font-size: 2.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: -0.9em;
}

.section_2-p{
    color: rgb(255, 181, 9);
    font-size: 3.1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0.5em;
}
.p{
    text-align: justify;
    font-family: sans-serif;
    margin-bottom: 2em;
}

.div_section-2{
    margin-bottom: 3em;
}

.section_2-input{
    padding: 0.7em;
    border-radius: 25px;
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-BGCOLOR);
    width: 10em;
    font-size: 18px;
}

.section_3-p{
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    font-family: sans-serif;
}

.container__section4, .container__section5{
    display: flex;
    justify-content: space-between;
    gap: 5em;
    margin-bottom: 2em;
}

.box{
    flex: 2;
    border-radius: 5px;
    margin: 20px 10px;
    box-shadow: 1px 1px 1px 1px rgb(200, 198, 198);
    padding: 15px 20px;
    text-align: center;
    
}

#section_6{
    background-color: var(--BACKGROUNDCOLOR);
    padding: 20px 0 0 50px;
    border-radius: 6px;
    max-width: 1400px;
    margin-top: 5em;
}
.div_section-6{
    margin-bottom: 3em;
}

#section_6 .container{
    display: flex;
    gap: 4rem;
}
.img__section-6{
    max-height: 28rem;
    margin-top: -6em;
}

#bouton{
    padding: 0.8em;
    border-radius: 25px;
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-BGCOLOR);
    width: 9em;
    font-size: 18px;
    border: none;
}

#bouton:hover{
    background-color: rgb(255, 182, 56);
}

#section_7 .container{
    display: flex;
    gap: 10rem;  
    margin-top: 4em;
} 

.div_section-7-h1{
    font-size: 3em;
    font-family: sans-serif;
}

.class_download{
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgb(200, 198, 198);
    padding: 0.5em;
    text-align: center;
    width: 9.2em;
}

.header_section-8{
    display: flex;
    gap: 0.5em;
    text-align: center;
}

.header_section-8 h2 em{
  font-size: 0.7em;  
}

#section__8{
    display: flex;
    text-align: center;
    font-family: sans-serif;   
    gap: 5em;
}

.article_section-8{
    text-align: center;
    text-align: justify;
    border-radius: 1em;
    padding: 1em;
    background-color: rgb(222, 222, 222);
}

#section__9{
    display: flex;
    gap: 10em;
    padding: 3em;
}

.article_section-9{
    font-family: sans-serif;  
}

.paragraphe_section-9{
 margin-bottom: 2em;
}

.h1_section-9{
    font-size: 2em;
}

.input_section-9{
    width: 20em;
    height: 3rem;
    border-radius: 2em;
    border: 1px solid rgb(173, 173, 173);
}

#section__10{
    background-color: var(--BACKGROUNDCOLOR);
    border-radius: 2em;
    padding: 1em;
}

.div__section10{
    margin-top: 2em;
}

.figure{
    display: flex;
    gap: 15em;

}

